<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
            <a class="navbar-brand" href="/">港仔の出清台大</a>
            <ul class="nav navbar-nav navbar-right">
                <li><%= image_tag(@current_user['photo']) %></li>
                <li><a href="#"><%= @current_user['name'] %></a></li>
            </ul>
    </div>
</nav>
    <div id="main-container" class="container">
        <div class="row">
            <div class"col-xs-12">
                <% flash.each do |name, msg| %>
                    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class"col-xs-12">
<div id="userhome-container" class="container">
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>  </th>
                <th>名稱</th>
                <th>價錢</th>
                <th>保留／排位</th>
            </tr>
            <% user=@current_user %>
            <% @items.each do |item| %>
                <tr>
                    <td><%= image_tag(item.photo, size: "200") %></td>
                    <td><%= item.name %></td>
                    <td><%= item.price %></td>
                    <td>
                        <% pos = item.position(@re) %>
                        <% if pos %>
                            商品已保留。排位：<%= pos %>
                        <% else %>
                         <%= button_to "reserve", reserve_path, params: {ii: item.id}  %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
            </div>
        </div>
    </div>
